extends layouts/default

block content
  // Header
  include sections/header

  main
    .container.py-md-5.container--narrow
      .header: .header-body: h1.header-title= post.title
      include components/flash
      .card
        if (post.isAuthor)
          .dropdown.card-dropdown
            a.dropdown-ellipses.dropdown-toggle#dropdownMenuButton(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'): i.fe.fe-more-vertical
            .dropdown-menu.dropdown-menu-end.dropdown-menu-right(aria-labelledby='dropdownMenuButton')
              a.dropdown-item(href= `/post/${post._id}/edit`) Edit
              form.mb-0(action=`/post/${post._id}/delete` method='POST'): button.dropdown-item.btn.btn-link.link-danger Delete
        .card-body
          // h2.mb-4.pr-4 Example Post Title Here
          .row.align-items-center
            .col-auto: a.avatar(href=`/profile/${post.author.username}`): img.avatar-img.rounded-circle(src= post.author.avatar alt='...')
            .col.ms-n2
              // Title
              h4.mb-1 Posted by
                a.link-primary.ml-1(href=`/profile/${post.author.username}`)= post.author.username
              // Time
              p.card-text.small.text-muted
                span.fe.fe-clock
                span.mx-1 Created at
                time(datetime='2018-05-24')= `${post.createdDate.getMonth() + 1}/${post.createdDate.getDate()}/${post.createdDate.getFullYear()}`
          // / .row
        hr.my-0
        .card-body!= filterUserHTML(post.body)

  // Footer
  include sections/footer


