extends layouts/default

block content
  // Header
  include sections/header

  main
    .container.py-md-5
      include components/flash

      include sections/profile-shared

      if (posts && posts.length)
        .card
          .list-group
            each post in posts
              a.list-group-item.list-group-item-action(href=`/post/${post._id}`)
                img.avatar.rounded-circle.mr-2.avatar-xs(src= userProfile.avatar)
                strong.mr2.d-inline-block= post.title
                span.d-inline-block.ml-2= `on ${post.createdDate.getMonth() + 1}/${post.createdDate.getDay()}/${post.createdDate.getFullYear()}`

  // Footer
  include sections/footer
